In [8]:
import input, calc, output

In [3]:
student = {}
input.input_student(student)
calc.calc_student(student)
output.output_student(student)

Name : 김
Kor : 80
Eng : 90
Math : 77
이름 =  김  국어 =  80  영어 =  90  수학 =  77  총점 =  247  평균 =  82.33333333333333  평점 =  B

In [10]:
import json

In [6]:
list_ = ['foo', {'bar': ('baz', None, 1.0, 2)}]
a = json.dumps(list_)
print(type(a))
print(a)

b = json.loads(a)
print(type(b))
print(b)

<class 'str'>
["foo", {"bar": ["baz", null, 1.0, 2]}]
<class 'list'>
['foo', {'bar': ['baz', None, 1.0, 2]}]

In [13]:
data = {
    'name' : 'Michael Jackson',
    'age' : 50,
    'height' : 184.2
}
json_str = json.dumps(data)
print(json_str)
data = json.loads(json_str)
print(data)

with open('data.json', 'w') as f:
    json.dump(data, f)
with open('data.json', 'r') as f:
    data = json.load(f)
print(data)

{"name": "Michael Jackson", "age": 50, "height": 184.2}
{'name': 'Michael Jackson', 'age': 50, 'height': 184.2}
{'name': 'Michael Jackson', 'age': 50, 'height': 184.2}

In [14]:
f = open("jsonoutput.json",'w+')
f.write('[{"name": "Michael Jackson", "age": 50, "hobbies": ["Hearing Music", "Reading"]}]')
f.flush()
f.seek(0)

a = json.load(f)
print(type(a))
print(a)
f.close()

<class 'list'>
[{'name': 'Michael Jackson', 'age': 50, 'hobbies': ['Hearing Music', 'Reading']}]

In [15]:
import pprint
import json

book = {}
book['title'] = ' ' 
book['tags'] = (' ', 'Kindle', 'Light') 
book['published'] = True
book['comment_link'] = None
book['id'] = 1024
with open('ebook.json', 'w') as f:
    json.dump(book, f)
with open('ebook.json', 'r') as f:
    book = json.load(f)

print(json.dumps(book,indent=4))
pprint.pprint(book)

{
    "title": " ",
    "tags": [
        " ",
        "Kindle",
        "Light"
    ],
    "published": true,
    "comment_link": null,
    "id": 1024
}
{'comment_link': None,
 'id': 1024,
 'published': True,
 'tags': [' ', 'Kindle', 'Light'],
 'title': ' '}

In [16]:
json_data = open('sungjuk.json').read()
data = json.loads(json_data)

for item in data:
    print(item)

{'hakbun': '1101', 'irum': '한송이', 'kor': 78, 'eng': 87, 'mat': 83, 'edp': 78}
{'hakbun': '1102', 'irum': '정다워', 'kor': 88, 'eng': 83, 'mat': 57, 'edp': 98}
{'hakbun': '1103', 'irum': '그리운', 'kor': 76, 'eng': 56, 'mat': 87, 'edp': 78}
{'hakbun': '1104', 'irum': '고아라', 'kor': 83, 'eng': 57, 'mat': 88, 'edp': 73}
{'hakbun': '1105', 'irum': '사랑해', 'kor': 87, 'eng': 87, 'mat': 53, 'edp': 55}
{'hakbun': '1106', 'irum': '튼튼이', 'kor': 98, 'eng': 97, 'mat': 93, 'edp': 88}
{'hakbun': '1107', 'irum': '한아름', 'kor': 68, 'eng': 67, 'mat': 83, 'edp': 89}
{'hakbun': '1108', 'irum': '더크게', 'kor': 98, 'eng': 67, 'mat': 93, 'edp': 78}
{'hakbun': '1109', 'irum': '더높이', 'kor': 88, 'eng': 99, 'mat': 53, 'edp': 88}
{'hakbun': '1110', 'irum': '아리랑', 'kor': 68, 'eng': 79, 'mat': 63, 'edp': 66}
{'hakbun': '1111', 'irum': '한산섬', 'kor': 98, 'eng': 89, 'mat': 73, 'edp': 78}
{'hakbun': '1112', 'irum': '하나로', 'kor': 89, 'eng': 97, 'mat': 78, 'edp': 88}